.ri-popup-status-menu-item-new {
  font-style: oblique;
}

.ri-popup-menu-item-status-labels {
  spacing: 1em;
}

.ri-issue-label-unread {
  font-style: oblique;
  font-weight: bold;
}

.ri-group-label-unread {
  font-style: oblique;
  font-weight: bold;
}

.ri-subject-label {
  text-overflow: ellipsis;
}
